@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  outline: none;
  border: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  min-height: 100vh;
  
  font-family: 'Poppins', sans-serif; 
}

h1 {
  font-size: 5rem;

  opacity: 0.5;
  color: #375488;
  letter-spacing: 5px;

}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputTodo {
  width: 230px;
  height: 40px;

  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.445) 0px 4px 8px;

  color: #0e0d13;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem 2rem;

  display: block;
}

.inputTodo:focus{
  border:1px solid #4169b3;
}

.inputTodo::placeholder{
  color: #969595;
  font-weight: 600;
  opacity: 0.8;
}

.btnTodo {
  width: 230px;
  height: 35px;

  border-radius: 8px;

  background-color: #4169b3;

  color: #ffff;
  font-weight: 700;

  cursor: pointer;
}

.btnTodo:hover {
  background-color: #33528b;
}

.todos {
  list-style-type: none;
  text-align: center;
  min-width: auto;
}

.todos li {  
  background-color: #b6b5b5ee;

  margin-bottom: 11px;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.todos li.completed {
  text-decoration-line: line-through;
  opacity: 0.6;
  cursor: pointer;
}

small {
  width: 80%;
  color: #585858;

  font-weight: 700;
  line-height: 15px;

  font-size: 11px;

}

p {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
  gap: 2px;

}